{% extends "mesajlasma/mesaj_base.html" %}
{% load static %}
{% block content %}

<main class="content">
    <div class="container p-0">

		<h1 class="h3 mb-3">Mesaj Kutusu</h1>

		<div class="card">
			<div class="row g-0">
				<div class="col-12 " style="height: 200px;">

					<div class="px-4  d-md-block" >
						<div class="d-flex align-items-center">
							<div class="flex-grow-1"  >
								<input type="text" class="form-control my-3" placeholder="Search...">
							</div>
						</div>
					</div>
					
					{% for mesaj in mesaj_atanlar %}

                    {% if mesaj.receiver_user.id == user.id %}
						<a href="#" class="list-group-item list-group-item-action border-0">
							<div class="d-flex align-items-start">
								<img src="{{mesaj.sender_user.kullanici_profil.url}}" class="rounded-circle mr-1" alt="{{mesaj.sender_user.user.username}}" width="40" height="40">
								<div class="flex-grow-1 ml-3">
                                   
                                    
                                        {{mesaj.sender_user.user.first_name|title}} {{mesaj.sender_user.user.last_name|title}}

                                    
									
								</div>
							</div>
						</a>
                    {% elif mesaj.sender_user.id == user.id %}
                    
                    <a href="/" class="list-group-item list-group-item-action border-0">
                        <div class="d-flex align-items-start">
                            <img src="{{mesaj.receiver_user.kullanici_profil.url}}" class="rounded-circle mr-1" alt="{{mesaj.receiver_user.user.username}}" width="40" height="40">
                            <div class="flex-grow-1 ml-3">
                                
                                {{mesaj.receiver_user.user.first_name|title}} {{mesaj.receiver_user.user.last_name|title}}

                                
                                
                            </div>
                        </div>
                    </a>
                    {% endif %}
					
					{% endfor %}
					
				
					
					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>
	
			</div>
		</div>
	</div>
</main>
{% endblock content %}




