{% extends "profil/base.html" %}
{% load static %}
{% block title %}Biten İşler{% endblock title %}
{% block content %}
<div class="layout-content">

    <!-- Content -->
    <div class="container flex-grow-1 container-p-y">
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'anasayfa' %}">Anasayfa</a></li>
              <li class="breadcrumb-item"><a href="{% url 'profil' kullanici.username %}">{{ kullanici.first_name}} {{ kullanici.last_name}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">Biten İşler</li>
            </ol>
          </nav>
          {% if error %}
          {{error}}
          {% else %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Başvurulan İş</th>
                <th scope="col">İş Fiyat</th>
                <th scope="col">Kategori</th>
                <th scope="col">Alt Kategori</th>
                <th scope="col">freelancer</th>
             
                <th scope="col">Bitti</th>
               
              </tr>
            </thead>
            <tbody>
            {{odeme_yapildi_mi.yapilan_is}}
        
            {% for biten_is in biten_isler %}
              <tr>
                <td>{{biten_is.is_bilgi.is_isim}}</td>
                <td>{{biten_is.is_bilgi.fiyat}}</td>
                <td>{{biten_is.is_bilgi.kategori.kategoriAd}}</td>
                <td>{{biten_is.is_bilgi.alt_kategori.altKategoriAd}}</td>
                <td>{{biten_is.user.first_name}} {{biten_is.user.last_name}}</td>
                <td><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="48" height="48"
                    viewBox="0 0 48 48"
                    style=" fill:#000000;"><path fill="#43A047" d="M40.6 12.1L17 35.7 7.4 26.1 4.6 29 17 41.3 43.4 14.9z"></path></svg></td>
                    {% if biten_is.is_veren.username == request.user.username  %}
                      {% if biten_is.is_bilgi == odeme_yapildi_mi.yapilan_is %}
                        <td><a href="{{biten_is.upload.file.url}}" download>İndir</a></td>
                      
                      {% else %}
                      <td><a href="{% url 'odeme' biten_is.is_veren.username biten_is.is_bilgi.id %}">Ödeme Yap</a></td>
                      {% endif %}
                {% else %}
                {% endif %}
              </tr>
            {% endfor %}
            {% endif %}
              
            </tbody>
          </table>
    </div>
</div>
{% endblock %}