{% extends "profil/base.html" %}
{% block title %}Portfoy Ekle{% endblock title %}

{% load static %}
{% block content %}
<nav aria-label="breadcrumb" class="main-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'anasayfa' %}">Anasayfa</a></li>
    <li class="breadcrumb-item"><a href="{% url 'profil' user.username %}">{{ user.first_name}} {{ user.last_name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Profilim</li>
  </ol>
</nav>
<div class="form-control">
  <h6>Portfolyo Ekle</h6>
  <hr>
  <div class="text-danger">
    {% if error %}
      {{error}}
    {% endif %}
  </div>
  <form method="post" enctype="multipart/form-data">
    
    <div class="form-group">
      {% csrf_token %}
      <label class="d-block">Portfolyo Açıklama</label>
      <textarea class="form-control mt-1" name="portfolyo_aciklama" id="" ></textarea>    

     
    </div>
    <div class="form-group">
      <label for="yetenek">Portfoy Fotoğraf</label>
      <input type="file" accept="image/*" class="form-control-file" id="yetenek" name="portfoy_foto" aria-describedby="portfoy_foto"  >
    </div>
    <button class="btn btn-info mt-3" type="submit">Kaydet</button>
  </form>
 
  <div class="mt-5">
    <h3>Eklenen Yetenekler</h3>
  </div>
  {% if portfoy_bos %}
      {{portfoy_bos}}
  {% else %}
      {% include 'profil/partials/portfoy-tablo.html'%}
  {% endif %}
  {% endblock %}
</div>