{% extends "profil/base.html" %}
{% load static %}
{% block title %}Profilim{% endblock title %}
{% block content %}
<div class="layout-content">

    <!-- Content -->
    <div class="container flex-grow-1 container-p-y">
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'anasayfa' %}">Anasayfa</a></li>
              <li class="breadcrumb-item"><a href="{% url 'profil' kullanici.user.username %}">{{ kullanici.user.first_name}} {{ kullanici.user.last_name}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">Profil</li>
              <li class="breadcrumb-item"><a href="{% url 'mesajlar' kullanici.user.username %}">Mesaj At</a></li>
            </ol>
          </nav>
      <!-- Header -->
      {% if user_mi.username == user.username %}
          {% if kullanici.freelancer %}
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'basvurulan_isler' kullanici.user.username %}">Başvurulan İşler  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'biten_isler' kullanici.user.username %}">Bitirilen İşler</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Hesap Özeti</a>
                </li>
              
              </ul>
            </div>
          </nav>
          {% elif kullanici.isveren %}
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'paylasilan_isler' kullanici.user.username %}">Paylaştığın İşler  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'biten_isler' kullanici.user.username %}">Bitirilen İşler</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Hesap Özeti</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'is_olustur' user.username %}">İş Oluştur</a>
                </li>
              
              </ul>
            </div>
          </nav>
          {% endif %}

      {% else %}
      {% endif %}
  
    
      <div class="container-m-nx container-m-ny theme-bg-white mb-4">
        <div class="media col-md-10 col-lg-8 col-xl-7 py-5 mx-auto">
          <img src="{{kullanici.kullanici_profil.url}}" alt="" class="d-block ui-w-100 rounded-circle">
          <div class="media-body ml-5">
            <h4 class="font-weight-bold mb-4">{{ kullanici.user.first_name}} {{ kullanici.user.last_name}}</h4>

            <div class="text-muted mb-4">
             {{kullanici.aciklama}}
            </div>

            
          </div>
        </div>
        <hr class="m-0">
      </div>
      <!-- Header -->

      
      <div class="row">
     
        <div class="col">
         
          <!-- Info -->
          <div class="card mb-4">
            <div class="card-body">

              <div class="row mb-2">
                <div class="col-md-3 text-muted">Doğum Tarihi:</div>
                <div class="col-md-9">
                 {{kullanici.dogum_gunu}}
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-3 text-muted">Şehir:</div>
                <div class="col-md-9">
                  <a href="javascript:void(0)" class="text-body">{{kullanici.sehir}}</a>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-3 text-muted">Üniversite:</div>
                <div class="col-md-9">
                  <a href="javascript:void(0)" class="text-body">{{kullanici.universite}}</a>
                </div>
              </div>

              

             

            </div>
            
          </div>
          <!-- / Info -->
          <!-- Skills -->
          <div class="mb-3 right" >
            {% if user_mi.username == user.username %}
            <a href="{% url 'yetenekEkle' kullanici.user.username %}" class="btn btn-warning">Yetenek Ekle  </a>
            {% else %}

            {% endif %}
        
          </div>
          <div class="card mb-4">
            <div class="card-header">Yetenekler</div>
            <div class="card-body ">
              {% if yetenek_yazi %}
                {{yetenek_yazi}}
              {% else %}
                {% for ky in kullanici_yetenek %}
                  <div class="mb-1">{{ky.yetenek.ad}} - <small class="text-muted">{{ky.yetenek_seviye}}%</small></div>
                  <div class="progress mb-3" style="height: 4px;">
                    <div class="progress-bar bg-success" style="width: {{ky.yetenek_seviye}}%;"></div>
                  </div>
                {% endfor %}
              {% endif %}
              </div>
          </div>
          <!-- / Skills -->
          <!-- Posts -->
          <div class="mb-3 right" >
            {% if user_mi.username == user.username %}
            <a href="{% url 'portfoyEkle' kullanici.user.username %}" class="btn btn-warning">Portfolyo Ekle</a>
            {% else %}
            {% endif %}
            
          </div>
          <div class="card mb-4">
            <div class="card-header text-center p-0">
              <div class="row no-gutters row-bordered row-border-light">
                <a href="javascript:void(0)" class="d-flex col flex-column text-body py-3">
                  <div class="font-weight-bold">Portfolyo</div>
                </a>
               
              </div>
            </div>
           
          </div>
          {% if portfolyo_yazi %}
          <div class="card mb-4">
            <div class="card-body">
              <p>
                {{portfolyo_yazi}}
              </p>
             
            </div>
         
            
          {% else %}
          
          {% for p in portfolyo  %}
          <div class="card mb-4">
            <div class="card-body">
              <p>
                {{p.aciklama}}
              </p>
              <a href="javascript:void(0)" class="ui-rect ui-bg-cover" style="background-image: url({{p.fotograf.url}});"></a>
            </div>
         
          </div>
          {% endfor %}
          {% endif %}

          <!-- / Posts -->

        </div>
        <div class="col-xl-4">


          

          <!-- Photos -->
          <div class="mb-3 right" >
            {% if user_mi.username == user.username  %}
            <a href="{% url 'fotografEkle' kullanici.user.username %}" class="btn btn-warning">Fotoğraf Ekle</a>
            {% else %}
            {% endif %}
           
          </div>
          <div class="card mb-4">
            <div class="card-header with-elements">
              <span class="card-header-title">Fotoğraflar</span>
              <div class="card-header-elements ml-2">
                <small class="text-muted">{{fotograf_sayi}}</small>
              </div>
             
            </div>
           
            {% if fotograf_yazi %}
            <p>{{fotograf_yazi}}</p>
          {% else %}
            <div class="row no-gutters align-items-start pt-1 pl-1">
              
                {% for f in fotograflar %}
                <a href="javascript:void(0)" class="d-block col-3 col-sm-2 col-lg-3 pr-1 pb-1">
                  <span class="d-block ui-square ui-bg-cover" style="background-image: url({{f.fotograf.url}});"></span>
                </a>
                {% endfor %}
             
            </div>
            {% endif %}
          </div>
          <!-- / Photos -->

        </div>
      </div>

    </div>
    <!-- / Content -->

   
  </div>
  {% endblock content %}