<div class="w3l_login">
        {% if user.is_authenticated %}
       
        
        
        <div class="dropdown dropContainer">
                <a href="#" class="dropdown-toggle dropdownName" data-toggle="dropdown">{{ user.first_name}} {{ user.last_name}} <b class="caret"></b></a>
                <ul class="dropdown-menu multi-column dropdownmenu">
                        <div class="row">
        
                                <li> <a href="{% url 'profil' user.username %}" class="giris">Profilim</a></li>
                                <li> <a href="{% url 'hesap-ayarlari' user.username %}" class="giris">Hesap Ayarları</a></li>
                                <li> <a href="{% url 'mesajlar' user.username %}" class="giris">Mesajlar</a></li>
                                <li><a href="{% url 'cikis' %}"class="giris" >Çıkış Yap</a></li>
                        </div>
                </ul>
        </div>
             
       

        {% else %}
                <a href="{% url 'giris_yap' %}" class="giris">Giriş Yap</a>
                <a href="{% url 'kayit_ol' %}" class="kayit">Kayıt Ol</a>
        {% endif %}
       
</div>
