<div class="w3ls_dresses_grid_left_grid">
    <h3>Kategoriler</h3>
    <div class="w3ls_dresses_grid_left_grid_sub">
  
      <div class="ecommerce_color ecommerce_size">
        <ul>
            <li><a href="dresses.html">Web Yazılımı</a></li>
            <li><a href="sweaters.html">Wordpress</a></li>
            <li><a href="skirts.html">Mobil Uygulamalar</a></li>
            <li><a href="jeans.html">Oyun Geliştirme</a></li>
            <li><a href="shirts.html">Masaüstü Uygulamalar</a></li>
        </ul>
      </div>
          
        
    </div>
</div>
<div class="w3ls_dresses_grid_left_grid">
    <h3>Fiyat Aralığı</h3>
    <div class="w3ls_dresses_grid_left_grid_sub">
        <div class="ecommerce_color ecommerce_size">
            <ul>
                <li><a href="#">0-200</a></li>
                <li><a href="#">201-500</a></li>
                <li><a href="#">501-1000</a></li>
                <li><a href="#">+1000</a></li>
            </ul>
        </div>
    </div>
</div>
