{% extends "index.html" %}
{% load static %}
{% block title %}Yazılım & Teknoloji{% endblock title %}
{% block content %}
<!-- banner -->
	<div class="banner1" id="home1">
		<div class="container">
			<h2>Youthlancer<span>{{ kategoriListe.kategoriAd }}</span></h2>
		</div>
	</div>
<!-- //banner -->

<!-- breadcrumbs -->
	<div class="breadcrumb_dress">
		<div class="container">
			<ul>
				<li><a href="{% url 'anasayfa' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
				<li>{{ kategoriListe.kategoriAd }}</li>
				
			</ul>
		</div>
	</div>
<!-- //breadcrumbs -->

<!-- dresses -->
	<div class="dresses">
		<div class="container">
			<div class="w3ls_dresses_grids">
				<div class="col-md-4 w3ls_dresses_grid_left">
				{% include 'isler/partials/kategoriler.html' %}
				
				
				</div>
				<div class="col-md-8 w3ls_dresses_grid_right">
				
					<div class="clearfix"> </div>
					{% if kullanici.freelancer_mi  %}
						<div class="w3ls_dresses_grid_right_grid2">
							<a href="{% url 'is_olustur' user.username %}" class="btn btn-warning">İş Oluştur  </a>

						</div>
					{% else %}
					{% endif %}
					
					{% comment %} 
					<div class="w3ls_dresses_grid_right_grid2">
						<div class="w3ls_dresses_grid_right_grid2_left">
							<h3>Showing Results: 0-1</h3>
						</div>
						<div class="w3ls_dresses_grid_right_grid2_right">
							<select name="select_item" class="select_item">
								<option selected="selected">Default sorting</option>
								<option>Sort by popularity</option>
								<option>Sort by average rating</option>
								<option>Sort by newness</option>
								<option>Sort by price: low to high</option>
								<option>Sort by price: high to low</option>
							</select>
						</div>
						<div class="clearfix"> </div>
					</div> {% endcomment %}
					<div class="w3ls_dresses_grid_right_grid3 ">
						{% if error %}
							<div class="col-md-6 agileinfo_new_products_grid agileinfo_new_products_grid_dresses " >
								<div class="agile_ecommerce_tab_left dresses_grid">
									
									<h5>{{ error }}</h5>
								
									
								</div>
							</div>

						{% else %}
						{% for i in is %}

							<div class="col-md-6 agileinfo_new_products_grid agileinfo_new_products_grid_dresses " style="background-color:#fcfcfc">
								<div class="agile_ecommerce_tab_left dresses_grid">
									<div class="hs-wrapper hs-wrapper3 ">
										<img src="{{ i.resim1.url }}" alt=" " class="img-responsive" />
									</div>
									<h5><a href="{% url 'icerik' i.slug %}">{{ i.is_isim }}</a></h5>
									<div class="simpleCart_shelfItem">
										<p><i class="item_price">{{ i.fiyat }} ₺</i></p>
										<p><a class="item_add" href="{% url 'icerik' i.slug %}">İşe Git</a></p>
									</div>
									
								</div>
							</div>
						{% endfor %}
						
						
						{% endif %}
						

						<div class="clearfix"> </div>
					</div>

				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


<!-- //dresses -->
{% endblock content %}