<form  method="get" >
    <div class="w3ls_dresses_grid_left_grid">
        <h3>Kategoriler</h3>
        <div class="w3ls_dresses_grid_left_grid_sub">
    
        <div class="ecommerce_color ecommerce_size">
            
                {% for altktgr in altKategori %}
                
                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="alt-kategori" value="{{altktgr.altKategoriAd}}">
                        <div class="rad-design"></div>
                        <div class="rad-text">{{altktgr.altKategoriAd}}</div>
                    </label>
                
                {% endfor %}
                
            
        </div>
            
            
        </div>
    </div>
    <div class="w3ls_dresses_grid_left_grid">
        <h3>Fiyat Aralığı</h3>
        <div class="w3ls_dresses_grid_left_grid_sub">
            <div class="ecommerce_color ecommerce_size">
                <input type="number" min=0 name="min_fiyat" class="question" id="nme"/>
                <label class="fiyatlbl" for="nme"><span class="fiyat">Minimum Fiyat</span></label>
                <input type="number" min=0 name="max_fiyat" class="question" id="msg"/>
                <label class="fiyatlbl" for="msg"><span class="fiyat">Maksimum Fiyat</span></label>
                {% comment %} <input type="number" name="min_fiyat" placeholder="0">-
                <input type="number" name="max_fiyat" placeholder="100"> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="w3ls_dresses_grid_left_grid" style="text-align: center;">
        
        <button class="btn uygula">Filtrele</button>
        
    </div>
</form>


