{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Youthlancer | {% block title %}{% endblock title %}</title>
<link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Freelancerların tek adresi" />
{% include 'partials/style.html' %}
<!-- //end-smooth-scrolling -->
</head>
	
<body>
<!-- header -->
<div class="header">
	<div class="container">
        {% include 'partials/logo.html' %}
		
		<div class="clearfix"> </div>
	</div>
</div>

<!--header-->
{% include 'partials/navbar.html' %}
<!-- //header -->

<!-- banner-bottom -->

<!-- //banner-bottom -->

{% block content %}{% endblock %}


<!-- footer -->
<!-- //footer -->
</body>
</html>