{% extends "index.html" %}
{% load static %}
{% block title %}Giriş Yap{% endblock %}

{% block content %}
<div class="registercontainer">
    <div class="register ">
        <form action="#" method="post" class="registerForm">			      
            <input placeholder="Email Adresi" name="email" type="email" required="Doldurmak Zorunlu">
            <input placeholder="Parola" name="parola" type="password" required="Doldurmak Zorunlu">	
            <div class="sign-up">
                <input type="submit" value="Giriş Yap"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}
